.pricing-container
{
    border: 3px solid grey;
    display: flex;
    gap: 20px;
    flex-direction: column;

    
}
.pricing-plan
{
    border: 3px solid #45229d;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

}
.pricing-plan>*
{
    border: 0px solid maroon;
    text-align: start;
}
.pricing-plan>.plan-title
{
    font-size: 65px;
    font-weight: bold;
}
.pricing-plan>.plan-price
{
    font-weight: bold;
    font-size: 35px;
}
.pricing-plan>.plan-features
{
    font-weight: bold;
    font-size: 25px; 
}
.pricing-plan>.plan-button
{
    font-weight: bold;
    font-size: 35px; 
    width: 65%;
    height: 80px;
    text-align: center;
    box-shadow: 1px 2px 7px rgb(31, 31, 31);
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 15px;
}

/*---------------------------------*/

@media(min-width:680px)
{
    .pricing-container
    {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .pricing-plan
{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis:90;
    min-width:200px;
    height:600px;
    gap: 40px;

}
.pricing-plan>.plan-title
{
    font-size: 35px;
    font-weight: bold;
}
.pricing-plan>.plan-price
{
    font-weight: bold;
    font-size: 20px;
}
.pricing-plan>.plan-features
{
    font-weight: bold;
    font-size: 17px; 
}
.pricing-plan>.plan-button
{
    font-size: 25px; 
    width: 65%;
    height: 50px;
}

}